%btn {
  @include transition(background-color .14s ease-in-out);
  -webkit-appearance: none;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  font-size: .9em;
  font-weight: normal;
  line-height: 34px;
  padding: 0 24px;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:active {
    top: 1px;
  }
}

.blue-btn {
  @extend %btn;
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  }

  &:active {
    background-color: darken($blue, 5%);
  }

}
